body {
  background-color: powderblue;
}
h1 {
  color: rgb(160, 160, 176);
}

div {
  font-family: cursive;
  display: grid;
  place-items: center;
  text-align: center;
  color:rgb(0, 0, 0);



}

button { 
  padding: 20px;
  width: 500px;
  border:none;
  margin-bottom: 20px;
  display: grid;
  place-items: center;
  color:rgb(255, 255, 255);
  font-family: cursive;
  background-color: rgb(174, 24, 84);
}

.option {
  background-color: #3675b8; 
  color: white; 
}

.quiz-container
{
    font-size: larger;
    margin-top:100px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: #ffffff;

}

#next-button{
  background-color:pink;
    color:black;
    text-align: center;  
    width: 20%;
    padding: 10px;
}